*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/

application/controllers/admin/*
application/controllers/*.php
application/controllers/sync.ffs_db
application/config/*
application/cache/*
application/views/admin/*
application/views/*.php
application/views/sync.ffs_db


temporadas/*
nbproject/*
less/*
assets/*
css/*
img/*
js/*
php/*
system/*

.htaccess
config.php
contributing.md
license.txt
readme.rst
titulo2.png
*.rar
*/*.rar
*.zip
*/*.zip
sync.ffs_db
.vscode/*
*/.vscode/*
